<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>404741528477-7kcte4r8smbg88045vd97t8hti8fve8d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.404741528477-7kcte4r8smbg88045vd97t8hti8fve8d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>404741528477-9j52rbb6kecutehq1pauqgkdo78s3dv8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB40XXbzBpFGJagXVret2VP2qV6Pc4cDI0</string>
	<key>GCM_SENDER_ID</key>
	<string>404741528477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plantie</string>
	<key>PROJECT_ID</key>
	<string>plantie-8fb24</string>
	<key>STORAGE_BUCKET</key>
	<string>plantie-8fb24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404741528477:ios:50ff43cc55b0b407662d74</string>
</dict>
</plist>